
<title>jVectorMap demo</title>
<link rel="stylesheet" href="~/Scripts/jquery-jvectormap-2.0.3/jquery-jvectormap-2.0.3.css" type="text/css" media="screen" />

<div id="world-map" style="width: 100%; height: 100vh"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1 class="modal-title" id="exampleModalLabel" style="text-align:center; font-weight:bold"></h1>
            </div>
            <div class="modal-body">

            </div>
            <div id="icon"><img id="wicon" src="" alt="Weather icon"></div>
            <div class="modal-footer">
                <p style="float:left">Select another country: </p>
                <select name="drop_down" id="dropDownCars" style="float:left; margin-left:10px; max-width:100px;">
                    <option value="None" selected="Selected"></option>
                </select>
                <form action="Home/Info" method="POST">
                    <button type="submit" id="countrySubmit" name="submitCountry" value="" class="btn btn-primary">More information</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery-jvectormap-2.0.3/jquery-jvectormap-2.0.3.min.js")
    @Scripts.Render("~/Scripts/jquery-jvectormap-2.0.3/jquery-jvectormap-world-mill.js")
    <script>
        $(function () {
            $('#world-map').vectorMap({
                map: 'world_mill',
                onRegionClick: function (event, code) {
                    var map = $('#world-map').vectorMap('get', 'mapObject');
                    var name = map.getRegionName(code);
                    var apiKey = 'fe34f1dcaebdaf3204c2e53a4c865fb6'
                    $('select[name="drop_down"]').val('none');
                    $('submit[name="submitCountry"]').val(name);
                    //console.log(code);
                    //console.log(name);
                    $('#exampleModal').modal('toggle');
                    $('.modal-body').empty();
                    //$('.modal-body').append('<p> Country: ' + name + '</p>')
                    $('#exampleModalLabel').text(name);
                    $.getJSON('https://restcountries.eu/rest/v2/alpha/' + code, function (data) {
                        //console.log(data);
                    $('#countrySubmit').val(data.name);
                        $('.modal-body').append('<p id="capital"> Capital: ' + data.capital + '</p>')
                    }).then(function (data) {

                        $.getJSON('https://api.openweathermap.org/data/2.5/find?q=' + data.capital + '&units=metric&APPID=' + apiKey, function (response) {
                            //console.log(response);
                            var iconcode = response.list["0"].weather["0"].icon;
                            var iconurl = "http://openweathermap.org/img/w/" + iconcode + ".png";
                            $('#wicon').attr('src', iconurl);
                            $('.modal-body').append('<p id="weather"> Weather: ' + response.list["0"].weather["0"].main + '</p>')
                            $('.modal-body').append('<p id="temperature"> Temperature: ' + response.list["0"].main.temp + '</p>')
                        });

                    }).then(function (data) {

                        $.getJSON('https://restcountries.eu/rest/v2/all', function (response) {

                            //console.log("allcountries", response);
                            //console.log(response);
                            $.each(response, function (key, value) {

                                $("#dropDownCars").append("<option>" + value.name + "</option>");
                            });

                            $('select[name="drop_down"]').change(function () {
                                var selectedName = $(this).val();
                                //console.log(selectedName);
                                $('#exampleModalLabel').text(selectedName);
                                $('#countrySubmit').val(selectedName);
                                //$(this).val('none')
                                $.getJSON('https://restcountries.eu/rest/v2/name/' + selectedName + '?fullText=true', function (data) {

                                    console.log(data);

                                    $('#capital').text("Capital: " + data["0"].capital);
                                }).then(function (data) {

                                    $.getJSON('https://api.openweathermap.org/data/2.5/find?q=' + data["0"].capital + '&units=metric&APPID=' + apiKey, function (response) {
                                        console.log(response);
                                        var iconcode = response.list["0"].weather["0"].icon;
                                        var iconurl = "http://openweathermap.org/img/w/" + iconcode + ".png";
                                        $('#wicon').attr('src', iconurl);
                                        $('#weather').text("Weather: " + response.list["0"].weather["0"].main);
                                        $('#temperature').text("Temperature " + response.list["0"].main.temp);
                                    });

                                });
                            });
                        });
                    });
                },
            });
        });
    </script>
}
