

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body style="background-color:white">
    <div class="col-sm-8 text-left container" style="background-color:antiquewhite">
    <h1 class="page-header" id="Country">@ViewBag.Country</h1>
    <p id="Capital">Capital: </p>
    <p id="Info">Info: </p>
    <p>Flag: <div id="icon" style="width:300px; height:250px;"><img style="width:300px; height:250px;" id="flag" src="" alt="flag icon"></div> </p>
    </div>
    <div class="col-sm-2">
    <img id="wIcon" style="float:left" src="" alt="weather icon" />
    <p id="cWeather"> Current weather: </p>
    <h3>5 day weather forecast </h3>
    <table>
        <tbody id="testWeather">

        </tbody>
    </table>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery-jvectormap-2.0.3/jquery-jvectormap-2.0.3.min.js")
    @Scripts.Render("~/Scripts/jquery-jvectormap-2.0.3/jquery-jvectormap-world-mill.js")
    <script>

        $(function () {

            var country = '@(ViewBag.Country)';
            var apiKey = 'fe34f1dcaebdaf3204c2e53a4c865fb6'
            var capital = "";

            var weatherbitApiKey = '2035d3aefc17412891b68c1330c6bbb5';

            var apixuApiKey = '01b71d91de8046a597d123250180808';

            $.getJSON('https://restcountries.eu/rest/v2/name/' + country , function (data) {

                capital = data["0"].capital;
                $('#Capital').text("Capital: " + capital);

                var flagUrl = data["0"].flag

                $('#flag').attr('src', flagUrl);

                console.log(data, capital);
            }).then(function (data) {

                $.getJSON('https://en.wikipedia.org/api/rest_v1/page/summary/' + capital, function (response) {

                    //console.log(response);
                    $('#Info').text(response.extract);

                });

                $.getJSON('https://api.openweathermap.org/data/2.5/find?q=' + capital + '&units=metric&APPID=' + apiKey, function (test) {
                    //console.log(response);
                    var iconcode = test.list["0"].weather["0"].icon;
                    var iconurl = "http://openweathermap.org/img/w/" + iconcode + ".png";
                    $('#wIcon').attr('src', iconurl);
                    $('#cWeather').text("Current weather: " + test.list["0"].weather["0"].main + " and temperature: " + test.list["0"].main.temp + "°C");

                });

                $.getJSON('https://api.openweathermap.org/data/2.5/forecast?q=' + capital + '&units=metric&APPID=' + apiKey, function (svar) {
                    console.log(svar);

                }).then(function (svar) {
                    //var testdt = new Date('2018-08-10 12:00:00');
                    $.each(svar.list, function (index, value) {
                        //console.log('My array has at position ' + index + ', this value: ' + value.dt_txt);
                        var dt = new Date(value.dt_txt);

                        //console.log("this is testdt: " + testdt.getHours() + " this is dt: " + dt.getHours());

                        var iconcode = value.weather["0"].icon

                        var iconurl = "http://openweathermap.org/img/w/" + iconcode + ".png";

                        //console.log(iconcode);


                        if (dt.getHours() == 12) {
                            //console.log(value);
                            var windDeg = parseInt(value.wind.deg);
                            var windDir = calculateWindDir(windDeg);
                            //console.log(windi)
                            //$('#testWeather').append('<tr id="testii"></tr>');
                            $('#testWeather').append('<tr><td><img src="' + iconurl + '" alt="weather icon" />Temperature: '
                                + value.main.temp + '°C </br> Humidity: '+ value.main.humidity +'%</td> <td> Wind direction: '
                                + windDir + '</br> Speed: ' + value.wind.speed + ' m/s</td> </tr>');
                            //$('#testii').append('<img src="'+ iconurl + '" alt="weather icon" />')

                        }
                        //$('#testWeather').append('<p> Weather: ' + value.weather.description + '</p>');


                    });

                    });



            });
            //console.log("the country is: ", country);
        });

        function calculateWindDir(windDir) {
            if (windDir > 337) {
                return "North"
            } else if (windDir > 23 && windDir <= 68 ) {
                return "North East"
            } else if (windDir > 68 && windDir <= 113) {
                return "East"
            } else if (windDir > 113 && windDir <= 158) {
                return "South East"
            } else if (windDir > 158 && windDir <= 203) {
                return "South"
            } else if (windDir > 203 && windDir <= 248) {
                return "South West"
            } else if (windDir > 248 && windDir <= 293) {
                return "West"
            } else if (windDir > 293 && windDir <= 337) {
                return "North West"
            } else if (windDir <= 23) {
                return "North"
            }
        }

    </script>
}
